# Ignore LaTeX auxiliary and log files
*.aux
*.log
*.bbl
*.blg
*.toc
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.DS_Store
# Ignore glossary and index files
*.acn
*.glo
*.ist

# Ignore compiled outputs (optional)
main.pdf
*.dvi
*.ps

# Ignore system-specific files
.DS_Store
